{% extends "base.html.twig" %}


{% block menu %}
<ul>
{% for item in menu %}
<li><a href="{{ path(item.route,item.args) }}">{{ item.text }}</a></li>
{% endfor %}
</ul>
{% endblock %}
{% block body %}
<ul>
{% for artist in artists %}
<li><a href="{{ path("artist_detail",{id:artist.id}) }}">{{ artist.name }}</a></li>
{% endfor %}
</ul>
<a href="{{ path("artist_create") }}">Create artist</a>
{% endblock %}